
.dropbtn {
  background-color: purple;
  color: white;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 16px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: gray;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 8px 12px;
  background-repeat: no-repeat;
  font-size: 12px;
  padding: none;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  color: black;
}

.dropdown-content a {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.body {
  background-color: lightblue;
  color: black;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  border-radius: 10px;
  opacity: 0.5;
  color: white;
  text-align: center;
  
  font-size: normal;
    
  /* Position the tooltip */
  position: relative;
  bottom: calc(100% + 2px);
  left: -1%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}