.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  border-radius: 10px;
  opacity: 0.5;
  color: white;
  text-align: center;
  
  font-size: normal;
    
  /* Position the tooltip */
  position: relative;
  bottom: calc(100% + 2px);
  left: -1%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}